page-home {
    ion-title h2{
        color: black;
        font-weight: bold;
        animation: 2s fade ease;
    }
    @keyframes fade {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
}
